.container-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-cards {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    gap: 1rem;
}

.title-home {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
}
